{% extends 'base.html.twig' %}


{% block body %}
<div class="row">
	<div class="col-sm">
		<h3 class="text-center">Le type de déchet {{ typeDechet.libelle }}</h3>
		
		<table class="table">
			<tr>
				<th>Type de dechet</th>
				<td>{{ typeDechet.libelle }}</td>
			</tr>		
			<tr>
				<th>Tarif</th>
				<td>{{ typeDechet.TarifActuel.tarif }}</td>
            </tr>
			<tr>
				<th>Dernière modification</th>
				<td>{{ typeDechet.tarifActuel.date|date("Y/m/d H:i:s") }}</td>
			</tr>
		</table>
	</div>
</div>

{% endblock %}