{% extends 'base.html.twig' %}

{% block body %}    
		<h5>Consultation d'un type de déchet</h5>
 <p>
  <table >
     <tr><td>Id : </td><td>{{unTypeDechet.id}} </td></tr>
	<tr><td>Libelle : </td><td>{{unTypeDechet.libelle}}</td>
 </table>
    </body>
</html>
{% endblock %} 