{% extends "/base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="row">
	<div class="col-sm text-center">
		<p>Nom de l'entrprise : SMICTOM de la bruyère<br/>
		Adresse : CD 132 A<br/>
		Ville : Gouvix<br/>
		Code Postal : 14680<br/>
		Numéro de téléphone : 02 31 23 84 63<br/>
		Fax : 02 31 23 48 83<br/>
		Adresse mail : smictomdelabruyere@gmail.com<br/>
		</p>
	</div>
</div>
{% endblock %}
