{% extends "/base.html.twig" %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm">
			<table class="table">
            <tr>
				<th>Nom de l'entrprise : </th>
				<td>SMICTOM de la bruyère</td>
			</tr>
			<tr>
				<th>Adresse : </th>
				<td>CD 132 A</td>
			</tr>
            <tr>
				<th>Ville : </th>
				<td>Gouvix</td>
			</tr>		
			<tr>
				<th>Code Postal : </th>
				<td>14680</td>	
			<tr>
				<th>Numéro de téléphone : </th>
				<td>02 31 23 84 63</td>
			</tr>
            <tr>
				<th>Fax : </th>
				<td>02 31 23 48 83</td>
			</tr>
            <tr>
				<th>Adresse mail : </th>
				<td>smictomdelabruyere@gmail.com</td>
            </tr>
		</table>
		</div>
	</div>
{% endblock %}
