{% extends "/base.html.twig" %}

{% block title %}Envoyer une réclamation{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm">
			<h3 class="text-center">Envoyer une réclamation</h3>
		
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
