{% extends 'base.html.twig' %}

{% block title %}Levées du mois en cours{% endblock %}

{% block body %}
<h3>Levées du mois en cours</h3>
<table class="table">
	<tr>
		<th>Date</th>
		<th>Habitation</th>
		<th>Type de déchet</th>
		<th>Coût</th>
	</tr>
	
	{% for levee in levees %}
	{% if levee.container.habitation.usager.id == idUser %}
	<tr>
		<td>{% if levee.dateLevee is defined %}{{levee.dateLevee|date('Y-m-d')}}{% endif %}</td>
		<td>{% if levee.container.habitation is defined %}{{levee.container.habitation.adresse ~ " " ~ levee.container.habitation.ville}}{% endif %}</td>
		<td>{% if levee.container.typeDechet is defined %}{{levee.container.typeDechet.libelle}}{% endif %}</td>
		<td>{% if levee.poids is defined and levee.container.typeDechet.tarifs  is defined%} {{levee.poids * levee.container.typeDechet.tarifs.get(0).tarif}}€{% endif %}</td>
	</tr>
	{%endif%}

	{% endfor %}
</table>
{% endblock %}
