{% extends 'base.html.twig' %}

{% block body %}

{% if container is not defined %}
<h1> Ajout d'un container</h1>
{% else %}
<h1> Modification des informations du container</h1>
{% endif %}


{# templates/container/ajouter.html.twig #}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


{% endblock %}