{% extends "/base.html.twig" %}

{% block title %}Les comptes{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm">
			<h3 class="text-center">Page de consultation d'un compte</h3>

			<table class="table">
				<tr>
					<th>Login : </th>
					<td>{{compte.login}} </td>
				</tr>
				
				<tr>
					<th>Mot de passe : </th>
					<td>****</td>
				</tr>
				{% if compte.utilisateur != null %}
				<tr>
					<th>Utilisateur concerné : </th>
					<td>{{compte.utilisateur.nom}} {{compte.utilisateur.prenom}}</td>
				</tr>
				{% else %}
				<tr>
					<td>Pas d'utilisateur affilié</td>
				</tr>
				{% endif %}
			</table>
		</div>
	</div>
{% endblock %}
