{% extends '/base.html.twig' %}

{% block title %}Catalogue des levées{% endblock %}

{% block body %}

	<h5 class="center-align"> Catalogue des levées</h5>

				<img src="{{ asset("img/catalogue_levees.png") }}" alt="">



{% endblock %}