<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gestocom - {% block title %}La gestion de vos poubelles facile{% endblock %}</title>
		
		<link type="text/css" rel="stylesheet" href="{{ asset("css/materialize.min.css") }}"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="{{ asset("css/google_font.css") }}"/>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{% block stylesheets %}{% endblock %}
    </head>
	
    <body>
		<div class="container">
			{% block body %}{% endblock %}
		</div>
		
        {% block javascripts %}{% endblock %}
		<script type="text/javascript" src="{{ asset("js/materialize.min.js") }}"></script>
    </body>
</html>
