{% extends "/base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
	<div class="row">
		<div class="col s12">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
